.env
.env.*
!.env.example
.env.before-hostinger
/node_modules

/vendor
*.zip
u919945289_*.sql
*client_secret*.json
/storage/*.log
/storage/logs/*.log
/storage/*.json
/public/storage
/public/uploads
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.idea

/DEVSENSE/packages-cache/authorizenet

